*.pyc
__pycache__/
*/__pycache__/
*.egg-info/
.DS_Store
*/tests/outputs
classireg/experiments/numerical_benchmarks/.hydra
classireg/experiments/numerical_benchmarks/plots/
classireg/experiments/numerical_benchmarks/simple1D
classireg/experiments/numerical_benchmarks/branin2D
classireg/experiments/numerical_benchmarks/camel2D
classireg/experiments/numerical_benchmarks/eggs2D
classireg/experiments/numerical_benchmarks/hart6D
classireg/experiments/numerical_benchmarks/shubert4D
classireg/experiments/numerical_benchmarks/debug6D
classireg/experiments/numerical_benchmarks/plotting1D
classireg/experiments/numerical_benchmarks/quadruped8D
classireg/experiments/numerical_benchmarks/micha10D
classireg/experiments/numerical_benchmarks/walker
classireg/experiments/numerical_benchmarks/test_convert.py
classireg/objectives/walker_env/*.yaml
classireg/objectives/walker_env/*.txt
classireg/objectives/walker_env/2020*
classireg/experiments/numerical_benchmarks/condor_*